

.canvas-container {
  grid-column: 2;
}

.canvas{
  border-radius: 10px;
}

.emojis-container {
  border: 2px solid black;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px;
}

button {
  padding: 3px;
  width: 40px;
  height: 40px;
}

.emojis-container button {
  font-size: 25px;
  padding: 2px;
  border: none;
  background-color: #fff;
}

.panel-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  grid-column: 3;
  border-radius: 10px;
  background-color: pink;
}

.control-panel div>*:not(.colors) {
  border-radius: 10px;
}

.colors>* {
  border-radius: 5px;
  vertical-align: text-bottom;
}

#color {
  inline-size: 27px;
}

.fonts {
  height: 30px;
  text-align: center;
}

.control-panel {
  margin: 20px;
  display: grid;
  gap: 15px;
}

.text-input {
  padding: 10px;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.control-panel img {
  width: 30px;
}

.download-btn {
  display: block;
  border-radius: 10px;
  padding: 3px;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.download {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  width: 100px;
}

.download .save img {
  width: 30px;
}

.save {
  background-color: #fff;
  height: 40px;
  width: 40px;
}

button:hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}