.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10vw;
    margin-bottom: 12px;
    background-color: pink;
}

.main-nav-list{
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

h1{
    margin: 0;
}
