.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10vw;
    margin-bottom: 12px;
    background-color: lightpink;
}

.main-nav-list {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    margin-inline-end: 15px;
}

h1 {
    margin: 0;
}

.saved-memes-nav:hover {
    cursor: pointer;
}

.gallery-nav:hover {
    cursor: pointer;
}